body {
  background-color: lavenderblush;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

button {
  padding: 15px;
  background-color: burlywood;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 1s linear;
}

button:hover {
  transform: translateY(-3px);
}

.modal {
  display: none;
  top: 30%;
  width: 25rem;
  height: 10rem;
  position: absolute;
  text-align: center;
  background: lavender;
  border-radius: 1rem;
  color: brown;
  font-size: 20px;
}

p {
  text-align: center;
  margin-top: 70px;
}