body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: blanchedalmond
}

details {
  cursor: pointer;
  padding: 1rem;
  margin: .5rem 0;
  background-color: darkred;
  color: whitesmoke;
  font-weight: 400;
  border: 5px solid red;
}

details p {
  font-size: .85rem;
}