div {
  height: 100vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: lightgreen;
  border-radius: 5px;
  cursor: pointer;
  padding: .8rem 1.3rem;
  border: 1px solid;
}